@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #e5e5f7;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, rgba(229, 229, 247, 0.1) 8px ), repeating-linear-gradient( rgba(229, 229, 247, 0.1), rgba(252, 32, 0, 0.1) );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Fira Sans", sans-serif;
}