@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

body {

  background-color: rgba(104, 104, 104, 0.4);
  background-image:  radial-gradient(rgba(19, 48, 173, 0.4) 1.7000000000000002px, transparent 1.7000000000000002px), radial-gradient(rgba(19, 48, 173, 0.4) 1.7000000000000002px, rgba(104, 104, 104, 0.4) 1.7000000000000002px);
  background-size: 68px 68px;
  background-position: 0 0,34px 34px;

  font-family: "Fira Sans", sans-serif;
}